table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    text-shadow: 1px 1px #fff;
    background: #eaebec;
    border: #ccc 1px solid;
    border-collapse: separate;
    margin: auto;
}

td {
    padding: 18px;
    width: 50px;
    height: 50px;
    border-top: 1px solid #a1bee0;
    border-bottom: 1px solid #a1bee0;
    border-left: 1px solid #a1bee0;
    background: #adadad;
    position: relative;
}

td.clicked {
    background: white;
    color: #577fcc;
    width: 50px;
    height: 50px;
    font-size: 26px;
    text-align: center;
    content: " ";
}

td.flag::after {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("../img/checkered_flag.png");
    background-size: 80px 80px;
    left: 10px;
    top: 4px;
    content: "";

}

td.question::after {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("../img/Question.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
    left: 10px;
    top: 4px;
    content: "";
}

td.boom::after {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../img/bomb .png");
    background-size: 50px 50px;
    left: 25px;
    top: 15px;
    content: "";
}

button.button {
    display: inline-block;
    width: 200px;
    height: 50px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    margin-top: 10px;
}

button.button:hover {
    background: rgba(0, 0, 0, 0.51);
}

button.button:active {
    background: white;
}

input.timer {
    border: 4px solid rgba(0, 0, 0, 0.5);
    font-size: 24px;
    text-align: center;
}

form.formTimer {
    margin: auto;
    text-align: center;
}

div.container {
    text-align: center;
}

div.field {
    text-align: center;
    margin: auto;
}

div.bombsOnField {
    border: 4px solid rgba(0, 0, 0, 0.5);
    font-size: 24px;
    width: 100px;
    margin: 5px auto 5px;
    text-align: center;
}

div.modalCloseWins {
    visibility: hidden;
    position: absolute;
}

div.modalCloseLoses {
    visibility: hidden;
    position: absolute;
}

form.customForm {
    margin-top: 10px;
}

h1.texts {
    padding-top: 57px;
    color: #ccbebf;
    font-size: 38px;
}

div.modalWindow {
    background-color: rgba(0, 0, 0, 0.5);
    width: 350px;
    height: 200px;
    position: absolute;
    margin-left: 40%;
    margin-top: 18%;
    z-index: 1000;
    text-align: center;
    visibility: visible;
}

td.boom.dead {
    background: red;
}
