<div class="cities">
  <div *ngIf="chooseCountryState" class="search-container">
    <input id="city"
           class="city-search"
           (input)="keyboardAutocomplete($event)"
           [value]="currentCity"
           type="text"
           placeholder="Search for Location"
           autocorrect="off"
           #search/>
    <div class="prediction-list-wrapper">
      <ul class="prediction-list">
        <li
          *ngFor="let city of predictionList "
          (click)="onCityChange(city)"
          class="prediction-item">
          {{city.structured_formatting.main_text}}
        </li>
      </ul>
    </div>
  </div>
</div>






