.controls {
  position: absolute;
  padding: 0;
  width: 40vw;
  height: 2vw;
  margin-top: 1vw;
  margin-bottom: 2vw;
  margin-left: 30vw;
  border-radius: 10vw;
  border: 0.2vw solid rgba(198, 198, 204, 0.48);
  font-size: 1.3vw;
}

.controls:active,
.controls:focus {
  outline: none;
}

:not(.default)::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.controls::-webkit-search-cancel-button {
  content: '';
  display: block;
  width: 1vw;
  height: 1vw;
  background: url("../../galka.png") no-repeat top left;
  background-size: 1vw;
}

.hiddenSearch {
  visibility: hidden;
  width: 0;
}

.pac-icon {
  width: 0;
  background-image: none;
}

.cities {
  width: 60%;
  height: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-left: 20%;
  z-index: 900;
  position: absolute;
}

.search-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city-search {
  width: 100%;
  font-size: 1.8vw;
  height: 3vw;
  box-sizing: border-box;
}

.prediction-list-wrapper {
  position: absolute;
  width: 60%;
  margin-top: 1.5vw;
  background: #f5fff8;
  max-height: 300px;
}

.closed {
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.prediction-list {
  position: absolute;
  font-size: 1vw;
  width: 99.5%;
  background: #f5fff8;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.prediction-item {
  padding: 1% 2%;
  list-style: none;
}

.prediction-item:hover {
  background: lightgray;
}

.selected {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white;
}

.invisible {
  display: none;
}
