a {
  text-decoration: none;
  color: inherit;
}

.countryList li {
  font-family: "Monotype Corsiva";

  border-radius: 2vw;
  border-left: 2vw solid #f05d22;
  box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
  -2px -2px 5px 0 rgba(0, 0, 0, .1),
  2px 2px 5px 0 rgba(0, 0, 0, .1),
  -2px 2px 5px 0 rgba(0, 0, 0, .1);
  font-size: 1.0vw;

  transition: 0.3s all linear;

}

.countryList li:nth-child(1) {
  border-color: gold;
}

.countryList li:nth-child(2) {
  border-color: gold;
}

.countryList li:nth-child(3) {
  border-color: gold;
}

.countryList li:nth-child(4) {
  border-color: gold;
}

.countryList li:nth-child(5) {
  border-color: gold;
}

.countryList li:nth-child(6) {
  border-color: gold;
}

.countryList li:hover {
  border-left: 10px solid transparent;
  border-left-color: gold;
}

.selected {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white;
}

.block {
  height: 4vw;
}

ul.countryList {
  padding: 0;
  margin-left: 26.5vw;
  height: 2vw;
  margin-top: 5vw;
  margin-bottom: 11px;
  /* text-align: center; */
  list-style: none;
}

ul.countryList li {
  text-align: center;
  padding: 0.3vw;

  float: left;
  border: 1px solid #000;
  margin-right: 1vw;
  width: 6vw;
}
