<app-details></app-details>
<ng-progress></ng-progress>

<input *ngIf="isPrevPage" class="prevPage" type="button" value="Back" (click)="prevPage()"/>
<input *ngIf="isNextPage" class="nextPage" type="button" value="Next" (click)="nextPage()"/>
<div *ngIf="isNumPage" class="pages">Page {{currPage}}</div>

<form class="formFilter" [formGroup]="myForm" novalidate (ngSubmit)="sendForm(myForm)">

  <div class="filterButtons">
    <input type="radio" id="choiceRent" formControlName='checkRadioButton' value="rent">
    <label for="choiceRent">rent</label>
    <input type="radio" id="choiceBuy" formControlName='checkRadioButton' value="buy">
    <label for="choiceBuy">buy</label>
    <input type="checkbox" id="choiceImg" formControlName='statusImg' name="statusImg">
    <label for="choiceImg">Images</label>
  </div>

  <div class="formGroup">
    <label class="form-priceMaxLable">Max price</label>
    <input class="form-priceMax" type="number" name="maxPrice" formControlName='maxPrice'
    />
  </div>
  <div class="formGroup">
    <label class="form-priceMinLable">Min price</label>
    <input class="form-priceMin" type="number" name="minPrice" formControlName='minPrice'
    />
  </div>
  <div class="formGroup">
    <label class="form-bedromMaxLable">Max bedroom</label>
    <input class="form-bedroomMax" type="number" name="bedroomMax" formControlName='bedroomMax'
    />
  </div>
  <div class="formGroup">
    <label class="form-bedromMinLable">Min bedroom</label>
    <input class="form-bedroomMin" type="number" name="bedroomMin" formControlName='bedroomMin'
    />
  </div>

  <div class="formGroup">
    <label class="form-bathroomMaxLable">Max bathroom</label>
    <input class="form-bathroomMax" type="number" name="bathroomMax" formControlName='bathroomMax'

    />
  </div>
  <div class="formGroup">
    <label class="form-bathroomMinLable">Min bathroom</label>
    <input class="form-bathroomMin" type="number" name="bathroomMin" formControlName='bathroomMin'
    />
  </div>
  <div class="formGroup">
    <input type="submit" [disabled]="myForm.invalid" class="sendForm" value="Отправить"/>
  </div>
</form>
<app-cities></app-cities>
<div class="houses" *ngIf="containHouses.length > 0">
  <div class="house" *ngFor="let house of containHouses">
    <div class="houseItem">
      <img src={{house.img_url}}
           onerror="this.src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkR0jrzoYQxkoRFQTDbgfcdlNZQ0oVpLuvFymeOy3w3hcMDKnd'"/>
      <div class="titles">{{house.title}}</div>
      <div class="price">Price :{{house.price_formatted}}</div>
      <div *ngIf="house.bedroom_number =='' " class="bedroom">Bedroom(s) : 0</div>
      <div *ngIf="house.bedroom_number !== 0" class="bedroom">Bedroom(s) :{{house.bedroom_number}}</div>
      <div class="typePlace">Type house :{{house.property_type}}</div>
      <button class="buttonMoreInfo" (click)="sendData(house)">More info</button>
      <input id="buttonAddFavorite" class="star {{house.setFavorites}}" type="checkbox"
             (click)="clickFavorites(house, $event)"/>
    </div>
  </div>
</div>

<div class="noFound" *ngIf="notFound">
  <p>Not found</p>
</div>
